<ion-list lines="full">

  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" color="primary">name</ion-label>
      <ion-input id="author-cmp-name" type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">email</ion-label>
      <ion-input id="author-cmp-email" type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">birthday</ion-label>
      <ion-input id="author-cmp-birthday" type="text" formControlName="birthday"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!authorForm.valid">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
</form>
  </ion-list>
