<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Category List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-cmp-category id="categories-cmp-category" [inCategory]="updCategory" class="hidden" (outCategoryEvent)="handleOutCategory($event)"></app-cmp-category>
  <app-cmp-categories (toUpdateCategory)="handleToUpdateCategory($event)"></app-cmp-categories>
</ion-content>
