<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic SQLite TypeOrm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic SQLite TypeOrm</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="home-container">
    <ion-list lines="full">
      <ion-item>
        <ion-label color='primary'>Post</ion-label>
        <div class="item-category" item-end>
          <ion-icon name="create" style="zoom:2.0"  (click)="addPost()"></ion-icon>
          <ion-icon name="list" style="zoom:2.0"  (click)="listPost()"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    <cmp-authordata></cmp-authordata>
  </div>
</ion-content>
